.header {

  /**
   * Normal state
   */
  position: fixed;
  width: 100%;
  top: 0;
  height: 100px;
  background-color: $color-green;
  overflow: hidden;
  z-index: 1;
  will-change: height, min-height;

  &-logo {
    margin-left: -100px;
    width: 80px;
    height: 100px;
    position: relative;
    display: inline-block;
    z-index: 2;
    will-change: margin, width, max-width, height, transform;

    a {
      width: 100%;
      height: 100%;
      display: inline-block;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/images/logo.png');
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.9;
      }
    }
  }

  .container {
    height: 100%;
    padding: 0 20px 0 120px;
    will-change: height, padding, transform;
  }

  .content {
    position: relative;
    display: inline-block;
    width: 100%;
    top: 50%;
    padding-left: 100px;
    margin-left: -100px;
    vertical-align: top;
    transform: translateY(-50%);
    will-change: padding, top, width, transform;
  }

  &-title, &-menu, &-social {
    display: inline-block;
    margin: 25px 0;
    color: $color-white;
    text-align: center;
    font-size: 1.05rem;
    font-weight: normal;
    // text-shadow: 0 0 1px $color-white;

    ul {
      list-style: none;
      clear: both;
      padding: 0;
      margin: 0;

      li {
        display: inline-block;
      }
    }
  }

  &-title {
    visibility: hidden;
    height: 0;
    width: 0;
    overflow: hidden;
    will-change: width, opacity, height, visibility, margin;
  }

  &-menu {
    float: left;
    will-change: width, margin, opacity;
    li + li:before {
      content: ' ';
      margin: 0 11px 0 7px;
    }
    a {
      color: $color-white;
      text-decoration: none;
    }
  }

  &-social {
    float: right;
    will-change: width, margin, opacity;
    li + li:before {
      content: ' ';
      margin: 0 10px;
    }
    i {
      color: $color-white;
    }
  }

  /**
   * Load State
   */
  &.load {
    animation: header-load $time-trans*0.4 $time-trans*0.2 forwards;

    .header-logo {
      animation: header-load-logo $time-trans*0.4 $time-trans*0.2 forwards;
    }

    .container {
      animation: header-load-container $time-trans*0.4 $time-trans*0.2 forwards;
    }

    .content {
      animation: header-load-content $time-trans*0 $time-trans*0.3 forwards;
    }

    .header-title {
      animation-name: header-load-title, downShow;
      animation-duration: $time-trans*0, $time-trans*0.1;
      animation-delay: $time-trans*0.4, $time-trans*0.7;
      animation-fill-mode: forwards, forwards;
    }

    .header-menu {
      animation-name: downHide, header-load-menu, downShow;
      animation-duration: $time-trans*0.1, $time-trans*0.1, $time-trans*0.1;
      animation-delay: $time-trans*0, $time-trans*0.4, $time-trans*0.8;
      animation-fill-mode: forwards, forwards, forwards;
    }

    .header-social {
      animation-name: downHide, header-load-social, downShow;
      animation-duration: $time-trans*0.1, $time-trans*0.1, $time-trans*0.1;
      animation-delay: $time-trans*0.1, $time-trans*0.4, $time-trans*0.9;
      animation-fill-mode: forwards, forwards, forwards;
    }
  }

  @keyframes header-load {
    to {
      height: 100vh;
      min-height: 200px;
    }
  }

  @keyframes header-load-logo {
    to {
      margin-left: 50%;
      width: 80vmin;
      max-width: 35%;
      height: 100%;
      transform: translateX(-100%);
    }
  }

  @keyframes header-load-container {
    to {
      height: 80%;
      padding: 0 20px;
      transform: translateY(10%);
    }
  }

  @keyframes header-load-content {
    to {
      padding-left: 50%;
      top: -50%;
      width: auto;
      transform: translateY(-30%);
   }
  }

  @keyframes header-load-title {
    to {
      width: 100%;
      opacity: 0;
      height: auto;
      visibility: visible;
      margin: 0 0 25px 0;
    }
  }

  @keyframes header-load-menu {
    to {
      width: 100%;
      margin: 0 0 25px 0;
    }
  }

  @keyframes header-load-social {
    to {
      margin: 0 0 25px 0;
      width: 100%;
    }
  }


  /**
   * Loaded State, and unload init state
   */
  &.loaded, &.unload {
    height: 100vh;
    min-height: 200px;

    .header-logo {
      margin-left: 50%;
      width: 80vmin;
      max-width: 35%;
      height: 100%;
      transform: translateX(-100%);

      @include modular-mq(small) {
        max-width: none;
        width: 60vmax;
        height: 60vmax;
      }
    }

    .container {
      height: 80%;
      padding: 0 20px;
      transform: translateY(10%);
    }

    .content {
      padding-left: 50%;
      top: -50%;
      width: auto;
      transform: translateY(-30%);

      @include modular-mq(small) {
        vertical-align: inherit;
        transform: none;
        top: auto;
      }
    }

    .header-title, .header-menu, .header-social {
      width: 100%;
      margin: 0 0 25px 0;
    }

    .header-title {
      height: auto;
      visibility: visible;
      opacity: 1;
    }

    .header-menu {
    /* // cant animate easily
      li + li:before {
        content: '-';
        margin: 0 11px 0 7px;
      }
    */
    }

    .header-social {
    }
  }


  /**
   * Unload State
   */
  &.unload {
    animation: header-unload $time-trans*0.4 $time-trans*0.3 forwards;

    .header-logo {
      animation: header-unload-logo $time-trans*0.4 $time-trans*0.3 forwards;
    }

    .container {
      animation: header-unload-container $time-trans*0.4 $time-trans*0.3 forwards;
    }

    .content {
      animation: header-unload-content $time-trans*0 $time-trans*0.4 forwards;
    }

    .header-title {
      animation-name: upHide, header-unload-title;
      animation-duration: $time-trans*0.1, $time-trans*0;
      animation-delay: $time-trans*0.2, $time-trans*0.4;
      animation-fill-mode: forwards, forwards;
    }

    .header-menu {
      animation-name: upHide, header-unload-menu, downShow;
      animation-duration: $time-trans*0.1, $time-trans*0.1, $time-trans*0.1;
      animation-delay: $time-trans*0.1, $time-trans*0.4, $time-trans*0.8;
      animation-fill-mode: forwards, forwards, forwards;
    }

    .header-social {
      animation-name: upHide, header-unload-social, downShow;
      animation-duration: $time-trans*0.1, $time-trans*0.1, $time-trans*0.1;
      animation-delay: $time-trans*0, $time-trans*0.4, $time-trans*0.9;
      animation-fill-mode: forwards, forwards, forwards;
    }
  }

  @keyframes header-unload {
    to {
      height: 100px;
      min-height: 0;
    }
  }

  @keyframes header-unload-logo {
    to {
      margin-left: -100px;
      width: 80px;
      max-width: none;
      height: 100px;
      transform: translateX(0);
    }
  }

  @keyframes header-unload-container {
    to {
      height: 100%;
      padding: 0 20px 0 120px;
      transform: translateY(0);
    }
  }

  @keyframes header-unload-content {
    to {
      padding-left: 100px;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);
   }
  }

  @keyframes header-unload-title {
    to {
      width: 0;
      opacity: 0;
      height: 0;
      visibility: hidden;
      margin:  25px 0;
    }
  }

  @keyframes header-unload-menu {
    to {
      width: auto;
      margin: 25px 0;
    }
  }

  @keyframes header-unload-social {
    to {
      margin: 25px 0;
      width: auto;
    }
  }

}

body.init .header {
  z-index: -1;

  &.load {
    animation: none;
    height: 100vh;
    min-height: 200px;

    .header-logo {
      margin-left: 50%;
      width: 80vmin;
      max-width: 35%;
      height: 100%;
      transform: translateX(-100%);

      animation: header-init-load-logo $time-trans forwards;
    }

    .container {
      height: 80%;
      padding: 0 20px;
      transform: translateY(10%);
      animation: none;
    }

    .content {
      padding-left: 50%;
      top: -50%;
      width: auto;
      transform: translateY(-30%);
      animation: none;
    }
  }

  @keyframes header-init-load-logo {
    0% {}
    5% {
      transform: translateX(-50%) scale(0);
    }
    75% {
      transform: translateX(-50%) scale(1);
    }
    100% {
      transform: translateX(-100%) scale(1);
    }
  }
}
