$color-green: #007f00;
$color-white: rgba(255,255,255, 0.9);

$time-trans: 2s;

@import 'include/functions';
@import 'include/animation';

html {
  overflow: hidden;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  position: relative;
  width: auto;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

@import 'include/header';

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
