<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>react tur</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <header>
      <h1><%= cn.name %></h1>
      <nav>
        <ul>
          <li>Design</li>
          <li>Develop</li>
          <li>Deploy</li>
          <li>Resume</li>
        </ul>
      </nav>

      <section>
        <ul>
          <li>Github</li>
          <li>LinkedIn</li>
          <li>Twitter</li>
        </ul>
      </section>
    </header>

    <section>
      <header><h2>Design</h2></header>
      <div>
        <h3>System Design</h3>
        <ul>
          <li>Design system in Multi-tier Architecture. Focus on creating flexible and reusable components.</li>
          <li>Design for Scalability. Experience in decide and apply vertical scale and horizontal scale.</li>
          <li>For legacy system, Refactoring to create modular components.</li>
        </ul>

        <h3>Design Pattern</h3>
        <ul>
          <li>Proficient with GoF design patterns in practise.</li>
          <li>Strictly follow the SOLID principle.</li>
          <li>Use Abstraction to managing complexity of the system.</li>
        </ul>
      </div>
    </section>

    <section>
      <header><h2>Develop</h2></header>
      <div>
        <h3>Data Structure</h3>
        <ul>
          <li>Master of all common data structure.</li>
          <li>Linear: Array, Stack, Queue, Linked List.</li>
          <li>Non-Linear: Hash, Heap, Binary Search Tree, Red-black Tree, Graph.</li>
        </ul>

        <h3>Algorithm</h3>
        <ul>
          <li>Familiar with applying or designing suitable algorithm.</li>
          <li>Proficient in using big O complexity to analyze performance.</li>
        </ul>

        <h3>Language</h3>
        <ul>
          <li>Zend certificate PHP engineer.</li>
          <li>Favorite and proficient in JavaScript.</li>
          <li>Able to process in any popular languages.</li>
        </ul>
      </div>
    </section>

    <section>
      <header><h2>Deploy</h2></header>
      <div>
        <h3>Build</h3>
        <ul>
          <li>Build project with Jenkins, or Travis.</li>
          <li>Create build tasks with Grunt, Gulp or Make.</li>
          <li>Familiar with Pre-processing and Post-processing on source files and assists.</li>
        </ul>

        <h3>Virtualization</h3>
        <ul>
          <li>Create and maintain Vagrant and Docker.</li>
        </ul>

        <h3>Administrative</h3>
        <ul>
          <li>Proficient in using Linux. Familiar with Bash script.</li>
          <li>Proficient in setting up web service with Apache or Nginx.</li>
          <li>Experience in trouble-shooting networking issue.</li>
        </ul>
      </div>
    </section>

    <section>
      <header><h2>Resume</h2></header>
      <div></div>
    </section>

    <footer>
      <small>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-nc/3.0/80x15.png" class="cc"></a><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title"><i>Zhibin Huang</i></span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://github.com/benjah1" property="cc:attributionName" rel="cc:attributionURL">benjah1</a> is licensed under a <a rel="license"
href="http://creativecommons.org/licenses/by-nc/3.0/deed.en_US">Creative Commons Attribution-NonCommercial 3.0 Unported License</a>. Please contact Support at <a href="mailto:benjaminhuang1@gmail.com">benjaminhuang1@gmail.com</a> for more information.</small>
    </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script rc="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
