/****************
 * Variable
 ****************/ 
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$screen-lg: 1200px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 480px;

$container-tablet: 720px;
$brand-primary: #0a8f08;
$brand-primary2: #E77C2A; // #5 
$brand-primary3: darken(desaturate($brand-primary, 60%), 5%);
$brand-primary4: lighten($brand-primary, 5%);
$brand-success: $brand-primary;
$brand-info: $brand-primary2;
$navbar-default-link-hover-color: $brand-primary;
$navbar-default-brand-hover-color: $brand-primary;
$text-color: darken($brand-primary3, 10%);

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/****************
 * Mixin & Function
 ****************/
@mixin transition($t) {
	transition:$t 0.4s linear;
}
@mixin b-box-shadow($size) {
	@if $size == 'lg' {
		@include box-shadow(4px 4px 8px rgba(0,0,0,.6));
	} @else {
		@include box-shadow(3px 3px 6px rgba(0,0,0,.4));
	}
}
@mixin text-shadow($size) {
	@if $size == 'lg' {
		text-shadow: 1px 1px 2px rgba(0,0,0,.6);
	} @else {
		text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	}
}
@mixin filter($properties) {
  @include prefixer(filter, $properties, webkit moz spec);
}
@function grayscale($value) {
  @return #{ "grayscale(" + $value + ")" };
}

/****************
 * Overall 
 ****************/
body {
	overflow-x: hidden;
	font-size: 16px;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.2);
}

p {
	font-size: 20px;
	&.small {
		font-size: 16px;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

.print-only  {
	display: none;
}

hr.break {
	padding: 0;
	border: none;
	border-top: solid 3px;
	margin: 25px auto 50px;
}

.img-centered {
	margin: 0 auto;
}

blockquote footer, blockquote small, blockquote .small {
  color: $text-color;
}

/****************
 * Overwrite Bootstrap
 ****************/
.btn-primary {
	border-radius: 0px;
	@include transition(all);
	background-color: $brand-primary3;
	border: 2px solid lighten($brand-primary3, 60%);
  color: lighten($brand-primary3, 60%);
  color: #fff;
  opacity: 1;
	
  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    border: 2px solid #fff;;
    background-color: $brand-primary;
    color: #fff;
    opacity: 1;
//    box-shadow: 0 0 1px $brand-primary4;
//    text-shadow: 0 0 1px $brand-primary4;
	}
}

.btn:focus,
.btn:active,
.btn.active {
	outline: none;
}

.modal {
  &.fade {
    opacity: 1;
    transform: translateX(100%);
    @include transition(all);
    &.in {
      transform: translateX(0%);
    }
  }
}

/****************
 * Navigation
 ****************/
.navbar {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	@include b-box-shadow(sm);
	transform: translateY(-101%);
	@include transition(all);
	.navbar-nav {
		letter-spacing: 1px;
	}
	.page-scroll {
		a {
			@include transition(all);
    }
	}
  &.navbar-fixed-top.navbar-shrink {
    transform: translateY(0);
  }
}
@media(min-width:$screen-sm) {
	.navbar-fixed-top {
		padding: 25px 0;
		.navbar-brand {
			font-size: 2em;
			@include transition(all);
		}
    &.navbar-shrink {
      padding: 10px 0;
      .navbar-brand {
        font-size: 1.5em;
      }
    }
	}
}

.modal-open {
	.navbar .container {
		padding-right: 17px;
	}
}
/*
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
  .btn {
    background-color: white;
    color: $text-color;;
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid $text-color;;
    border-radius: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
    @include transition(all);
    
    &:hover {
      @include b-box-shadow(sm);
    }
  }
}
*/

/****************
 * Section
 ****************/
section {
	margin: 75px 0;
  &.first {
		margin-top: 0px;
	}
	h2 {
		margin: 0;
		font-size: 3em;
	}
}

@media(max-width:$screen-sm) {
	section {
    margin: 50px 0;
	}
}
 
body > header {
	text-align: center;
  background-color: $brand-primary3;
  color: #fff;
  @include transition(all);
  
  .container {
    padding: 75px 0;
  }
  .intro {
    margin: 30px 0;
  }
  
  .contact{
    .btn-social {
      color: #fff;
      display: inline-block;
      height: 45px;
      width: 45px;
      border: 2px solid lighten($brand-primary3, 0%);
      border-radius: 50%;
      text-align: center;
      font-size: 24px;
      line-height: 40px;
      @include transition(all);
      
      &:hover {
        opacity: 1;
        border: 2px solid lighten($brand-primary3, 60%);;
        background-color: darken($brand-primary, 0%);
        //box-shadow: 0 0 2px $brand-primary;
      }
    }
  }
  .name {
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 108px;
    margin-left: 15px;
  }
	.intro-text {
    margin-right: 3px;
    div {
      display: inline-block;
    }
		.skills {
			font-size: 1.25em;
			font-weight: 300;
		}
	}
	.resume {
    margin-right: 20px;
    span {
      margin:0 20px;
    }
	}
 
}

@media(max-width:$screen-md) {
	header {
    .name {
      font-size: 70px;
      margin-left: 10px;
    }
	}
}
@media(max-width:$screen-sm) {
	header {
    .container {
      padding: 50px 0;
    }
    .name {
      font-size: 50px;
      margin-left: 5px;
    }
	}
}
@media(max-width:$screen-xs) {
	header {
    .resume {
      span {
        display: none;
      }
      .btn {
        margin: 5px;
      }
    }
	}
}

#summary, #skill, #work, #ref, #project {
	display:none;
}

.portfolio-item {
  margin: 0 0 30px;
	right: 0;
	.portfolio-link {
		display: block;
		position: relative;
		max-width: 400px;
		margin: 0 auto;
		@include transition(all);
		filter: grayscale(50%);
		//opacity: 0.9;
		
		.portfolio-custom {
			position: relative;
			background-color: #fff;
			max-width: 360px;
			z-index: 1;
			&> div {
				position: absolute;
				color: $brand-primary3;
				top: 50%;
				transform: translateY(-50%);
				width: 100%;
				&> div {
					text-align: center;
					font-size: 30px;
					font-weight: bold;
				}
			}
			img {
				visibility: hidden;
			}
		}
		
		&:hover {
			filter: grayscale(0%);
      transform: translateY(-5px);
			opacity: 1;
		}
	}
}

@media(max-width:$screen-sm) {
  #portfolio {
    .portfolio-item {
      margin: 0 0 15px;
    }
  }
}

/****************
 * Footer
 ****************/
footer {
	color: $text-color;;
	font-size: 14px;
	.cc {
		border-width:0; 
		margin-right:5px;
	} 
}

/****************
 * Portfolio
 ****************/
.portfolio-modal {
	left: 30%;

	.modal-content {
		border-radius: 0;
		background-clip: border-box;
		box-shadow: none;
		border: none;
		min-height: 100%;
		padding: 60px 0;
		
		.modal-body {
			margin-right: 20px;
		}
		h2 {
			margin: 0;
			font-size: 3em;
		}
    h3 {
      margin-top: 40px;
    }
		img {
			margin-bottom: 30px;
		}
    p b {
      display: none;
    }
		footer {
			margin-top: 50px;
		}
        
	}
}

@media(max-width:$screen-lg) {
	.portfolio-modal {
		left: 20%;
	}
}

@media(max-width:$screen-md) {
	.portfolio-modal {
		left: 0;
	}
}