/****************
 * Overall 
 ****************/
* {
	font-size: 11px!important;
	color: black;
}
h1, h2, h3, h4, h5, h6 {
	text-transform: none;
	margin: 5px 0 5px 0!important;
}

h1 {
	font-size: 24px!important;
}

h2 {
	font-size: 10px!important;
}

h3 {
	font-size: 10px!important;
}

div {
  // outline: 1px solid black;
}

nav {
	display:none;
}

hr, img, blockquote {
	display: none!important;
}

.print-only  {
	display: block;
}
.print-push {
	padding-left: 15px;
}
.row, .col {
	margin: 0;
}

.text-center {
	text-align: left;
}

.col-md-offset-1 {
	margin-left: 0;
}

.modal.fade {
	opacity: 1;
	transform: translateX(0%);
}

/****************
 * Section 
 ****************/
section {
	padding: 0px;
  margin: 0px;
}

header {
  .container {
    padding:0;
  }
  .intro {
    margin:0;
  }
  .intro-text span {
    display: inline;
    margin-left: 10px;  
    
    &.skills {
      display: none;
    }
  }
  .contact {
    display: none;
  }
  .resume {
    display: none;
  }
}

#portfolio {
	display: none;
}	

#about{
	display: none;
}

#contact{
	display: none;
}

#skill, #work, #ref, #project {
	display: block;
}

.scroll-top{
	display: none!important;
}

#skill {
	b {
		width: 100px;
		display: inline-block;
	}
	p {
    margin-bottom: 2px;
	}
}

#work {
  ul {
    margin-bottom: 5px;
  }
}

.portfolio-modal {
	display: block!important;
	position: inherit;
	opacity: 1;
	margin: 0;
	padding: 0;
	
	.modal-content {
		padding: 0;
		
		.modal-body {
			margin:0;
			padding: 0;
			padding-left: 15px;
		}
    .not-print {
      display: none;
    }
    h3 {
      display: none;
    }
    p {
      margin-bottom: 5px;	
      padding-left: 15px; // print-push
      b {
        display: inline;
      }
    }
    a.url-link {
      display: none;
    }
	}
	
	.btn {
		display: none;
	}
}
.modal-open {
	overflow: auto;
}
.modal-backdrop {
	display: none;
}
footer {
	display: none;
}

.scroll-top{
	display:none;
}
